@font-face { font-family: 'webmo'; src: url('https://cdn.jsdelivr.net/gh/huiyio/Lib/fonts/AdobeCleanHanSC/AdobeCleanHanSC.eot'); src: url('https://https://cdn.jsdelivr.net/gh/tutuos/Tutu_Misans/tutufont.eot') format('embedded-opentype'), url('https://cdn.jsdelivr.net/gh/tutuos/Tutu_Misans/tutufont.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/tutuos/Tutu_Misans/tutufont.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/tutuos/Tutu_Misans/tutufont.ttf') format('truetype'), url('https://cdn.jsdelivr.net/gh/tutuos/Tutu_Misans/tutufont.svg') format('svg'); font-weight: 400; font-style: normal; font-display: swap; } *:not([class*="icon"]):not(i) { font-family: "webmo" !important; }
*{
    font-family: "webmo",serif, sans-serif, monospace , cursive !important;
}

.container{
    width: 100%;
}
.colq{
    background-color: white;
    padding: 0.7rem;
    margin-top: 47%;
    min-height: 40rem;
    box-shadow: 1px 1px 5px #d5d5d5;
    border-radius: 0.3rem;

}
.card-colq {
    margin-left: 3rem;
}


.archives-qine{

margin-right: 0;
}
.archives-qine ul{
    margin-bottom:0 ;
}
.archives-qine li{

    display: inline;
    list-style: none;
}

.card-img{

    width: 100px !important;
    border-radius: 10rem !important;
    /* margin-left: 46%;
    margin-top: 35px; */

    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: white;

    margin-top: 50px;
    margin-left: 78px;


    transition: -webkit-transform 0.75s;
}
@media (max-width: 992px){
    .archives-qine{
        display: none !important;
    }
}